.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  background-color: #3e72a5;
  color: whitesmoke;

  img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 0 30px;
  font-weight: bold;
}
.nav-link {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}
.nav-link:hover {
 
   color: rgb(237, 210, 163);
}
