


<div class="containerForm">
   <h1>Menue form</h1>
   <form [formGroup] ="menuFrom" (ngSubmit)="addItem()" >
       <div class="input-container">
           <label for = "author">Author</label>
           <input type="text"  formControlName="author" placeholder="Author">

           <label for = "title">Title</label>
           <input type="text" formControlName ="title" placeholder="Title">

           <label for = "id">ID</label>
           <input type="number" formControlName="id" placeholder="id">
           
           <label for = "inStock">InStock</label>
           <input type="text" formControlName="inStock" placeholder="InStock">

           <label for = "genre">Genre</label>
           <input type="text" formControlName="genre" placeholder="genre">

           <label for = "description">Description</label>
           <textarea name="description" role="5" formControlName = "description"></textarea>

           <label for = "price">Price</label>
           <input type="text" formControlName="price" placeholder="price">
       </div>
       <button type="submit">Add Item</button>
   </form>
</div>















   <div class="menuItem-container">

      
   <div class="container">
      
      <h2 style="text-align: center; font-size: 29px;">Our available books </h2>
      <div class="library-books">
   @if(showData()) {
   @for(book of library(); track book){
   <div class="library-book">
      
      <div class="title"><strong> </strong>{{book.title}}</div>
   <div class="author"><strong></strong>{{book.author}}</div>
   <div class="description"><strong> </strong>{{book.description}}</div>
   <div class="genre"><strong> </strong>{{book.genre}}</div>
   <div class="price"><strong> </strong>${{book.price}}</div>
   
   <!-- it's the THree dot menu  using boostrap -->
    @if(showThreeDotMenu()){
 <div class="dropdown-menu">
         <li> Edit</li>
         <li>Delete</li>
      </div>
    }
   <div class="menu-container">
      <i class="bi bi-three-dots-vertical" (click)="showMenu(book.id)"></i>
     
   </div>
   </div>
   }

 }@else {
    @if(showError()){
   <div style="font-size: 33px; font-weight: bolder;" class="error">
    There is an error ! please check the api 
   </div>
    }
    @else {
       <div class="loader"> </div>
    }
 }
    </div>
<!--  this is modal for pop up menu when edit is clicked -->
</div>
<div class="modal"> 
   
   <div class="containerForm">
      <h1>Menue form</h1>
      <form [formGroup] ="menuFrom" (ngSubmit)="updateItem()" >
          <div class="input-container">
              <label for = "author">Author</label>
              <input type="text"  formControlName="author" placeholder="Author">
   
              <label for = "title">Title</label>
              <input type="text" formControlName ="title" placeholder="Title">
   
              <label for = "id">ID</label>
              <input type="number" formControlName="id" placeholder="id">
              
              <label for = "inStock">InStock</label>
              <input type="text" formControlName="inStock" placeholder="InStock">
   
              <label for = "genre">Genre</label>
              <input type="text" formControlName="genre" placeholder="genre">
   
              <label for = "description">Description</label>
              <textarea name="description" role="5" formControlName = "description"></textarea>
   
              <label for = "price">Price</label>
              <input type="text" formControlName="price" placeholder="price">
          </div>
          <button type="submit">Update Item</button>
      </form>
   </div>
</div>
</div>

