// form style 

.containerForm{
min-height: 300px;
align-items: center;
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  
  h1{
      text-align: center;
      margin-bottom: 20px;
      font-family: Arial, sans-serif;
      color: #333;
  }
  .input-container{
      display: flex;
      flex-direction: column;
     gap: 15px;

  }
  label{
      font-size: 16px;
      font-weight: bold;
      color: #555;
  
  }
  input, textarea{
      width: 100%;
      padding: 10px;
      font-size: 14px;
  }
  textarea{
      resize: vertical;
      min-height: 50px;
      max-height: 150px;
      
  }
  
  button{
      width: 200px;
      padding: 10px;
      margin: 10px;
      font-size: 20px;
      color: white;
      font-weight: bolder;
      background-color: #007bff;
      border: none;
      border-radius: 18px;
      cursor: pointer;
      display: block;
      margin: 10px auto;

      &:hover{
      background-color: #0056b3;
  } 
  }
 
}


// stylig the books

.library-books {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
  justify-content: center;
  // background-color: #e9ecef; 
  margin-bottom: 40px;
  border-radius: 10px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.library-book {
  background-image: url(../../../../public/blueone.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 350px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  // background: linear-gradient(145deg, #f0f0f0, #e0e0e0); /* Subtle gradient for a refined feel */
}
.library-book:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0 , 0 , 0, 0.2);
}
 .title, .author{
  margin: 15px auto;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: wheat;
  margin-bottom: 10px;

}
.author{
  color: gold;
}
 .description{
  font-size: 14px;
  color: #f7f7f7;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-grow: 1;
  line-height: 1.5;
}
.genre, .price{
font-size: 14px;
color: orange;
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.price{
  color: #FFD700;
}

.loader {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation: l1 1s linear infinite alternate;
    margin-top: 100px;
  }
  .loader::before{
    content: "loading...";
  }
  @keyframes l1 {to{opacity: 0}}

  .btn-delete {
    margin: 0 auto;
    align-items: center;
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    border: 2px solid #D32F2F; /* Deep Red */
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: #D32F2F; /* Deep Red */
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .btn-delete:hover {
    background-color: white;
    color: #D32F2F; /* Deep Red */
    transform: translateY(-5px);
  }
  .btn-edit {
    margin: 0 auto;
    align-items: center;
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    border: 2px solid #4CAF50; /* Green */
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: #4CAF50; /* Green */
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .btn-edit:hover {
    background-color: white;
    color: #4CAF50; /* Green */
    transform: translateY(-5px);
  }
  // modal 


  // menu
  .menu-container{
    position: relative;
    display: inline-block;
    
  }
  .bi-three-dots-vertical {
    font-size: 40px;
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease-in-out;
  }
  .bi-three-dots-vertical:hover{
    transform: scale(1.2);
  }
  .dropdown-menu{
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: #fff;
    color: black;
    border-radius: 6px;
    border: 1px solid #444;
    z-index: 10;
    min-width: 120px;
    padding: 10px 0;
    text-align: left;
  }
  .dropdown-menu li{
    padding: 10px 20px;
    cursor: pointer;
    list-style-type: none;
    transition: background-Color 0.2s ease-in-out;
  }
  .dropdown-menu li:hover{
    background-color: #555;
    color: wheat;

  }
  // .menu-container:hover .dropdown-menu {
  //   display: block;
  // }