<div class="container">
    <img src="libraryHome.jpg" alt="libraryHome">
    <div class="intro">
        <h1>Hstar Library</h1>
        <p>Discover new adventures and endless knowledge at the tip of your fingers.
            <br><strong>Explore, Learn, and Grow</strong>  with our carefully curated collection of books and resources.

            Whether you're an avid reader or just starting your journey, we have 
            something for everyone.
        </p>
        <button class="btn">Explore</button>
    </div>
</div>
