.container {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px;
  gap: 20px;
  height: 60vh;
}

.container img {
  width: 560px;
  height: auto;
  border-radius: 0px 50px;
}

.container .intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.container h1 {
  position: absolute;
  top: 30px;
}

.btn {
  width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 3px solid transparent;
  cursor: pointer;
  background-color: #eff33e;
  color: black;
  font-weight: bold;
  transition: border-color 0.3s ease, color 0.3s ease;
}

 .btn:hover {
  border: 3px solid orange;
  color: brown;
}
