<div class="container">
  <div class="hero-section">
    <img src="libraryHome.jpg" alt="Library Home" class="hero-image" />
    
    <div class="hero-content">
      <h1>Welcome To The Knowledge Nook Library</h1>
      <p>
        Discover a universe of knowledge and adventures. From timeless classics
        to the latest bestsellers, our library is your gateway to endless
        exploration.
      </p>
      <button class="btn" routerLink="/books">Explore Books</button>
    </div>
  </div>
  <div class="features">
    <h2>Why Choose Us?</h2>
    <div class="features-grid">
      <div class="feature-item">
        <img src="widecollection.jpg" alt="Wide Collection" />
        <h3>Vast Collection</h3>
        <p>
          Access thousands of books, journals, and digital resources in one
          place.
        </p>
      </div>
      <div class="feature-item">
        <img src="cozy.jpg" alt="Cozy Space" />
        <h3>Cozy Reading Spaces</h3>
        <p>
          Enjoy a tranquil environment designed for readers and learners alike.
        </p>
      </div>
      <div class="feature-item">
        <img src="comunity.png" alt="Community Events" />
        <h3>Community Events</h3>
        <p>
          Join workshops, book clubs, and author meetups to connect and grow.
        </p>
      </div>
    </div>
  </div>
</div>
